.information-booking{
  width: 65%;
  height: fit-content;
  padding: 10px;
  margin-right:40px;
  box-shadow: 3px 4px 10px rgba(0,0,0,0.075);

}
.information-booking >div>div:first-child{
  border-bottom: 1px solid #ccc;
}
.information-booking h3{
  width: fit-content;
  padding-bottom: 6px;
  margin-bottom: -1px;
  border-bottom: 2px solid #ff8917;
}

.information-user-line-1th{
  display: flex;
  width: 100%;
  margin-top: 30px;
}
.information-user-line-1th>div:first-child{
  width: 480px;
  margin-right: 30px;
  
}
.information-user-line-1th>div:last-child{
  width: 33%;
}

.information-user-line-2th{
  display: flex;
  margin-top: 30px;
}

.information-user-line-2th>div:first-child
{
  margin-right: 30px;
  width: 280px

}
.information-user-line-2th>div:last-child
{

  width: 60%
}

.information-user form>label{

  margin: 8px 0;
}
.information-user-btn{
  display: flex;
  justify-content: flex-end;
}
.information-user-btn button:last-child{
  width: 120px;
  background-color: #ff8917;
  margin-left: 30px;  
  color: #fff;
  border: #ff8917;
}

.person-check-in-room{
  margin: 10px 0;
  
}
.person-check-in-room-info{
  margin: 20px 0;
}
.person-check-in-room-info >div:last-child{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.person-check-in-room-info >div:last-child>div{
  width: 350px;
  
}
