.hotelDetail{
  width: 100%;
  min-height: 900px;
}
.hotelDetail-container{
  margin: 0 140px;
 
  height: max-content;
}

/* ------------search detail--------- */
.hotelDetail-search{
  margin-top: 20px;
  height: 80px;
  display: flex;
  box-shadow: 1px 2px 9px rgba(0,0,0,0.04);
 
}
.hotel-detail-search-container{
  display: flex;
  align-items: center;
}
.hotel-detail-search-container >input:first-child{
  margin-right: 20px;
  width: 520px;
  height: 40px;
}
.hotel-detail-search-container >div{
  width: 420px;
  height: 40px;
  margin-right: 20px;

}
.hotel-detail-search-item-number{
  width: 120px;
  margin-right: 20px;
  height: 40px;

}
.hotel-detail-search-container >button{
  width: 120px;
  height: 40px;
  background-color: #ff8917;
  border-color: #ff8917;
  color: #fff;

}
.hotel-detail-search-container >button:hover{
 
  background-color: #ff8917;
  border-color: #ff8917;
  color: #fff;
 
}
/* --------------image hotel detail --------------*/
.hotelDetail-header{
  margin-top: 20px;
}
.hotelDetail-header-container{
  width: 100%;
}
.hotelDetail-header-title{
  padding-bottom: 14px;
}
.hotelDetail-header-title-name{
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.hotelDetail-header-title-name  h1{
  margin: 0;
  margin-right: 10px;
  height: 31px;
  line-height: 31px;
}
.hotelDetail-header-title-name  span{
  height: 31px;
  line-height: 31px;
}
.hotelDetail-header-title-name .ant-rate-star{
  margin: 0;
  color: #ff8917;
 
}

.hotelDetail-header-title-name .ant-rate-star svg{
  width: 16px;
  height: 16px;
  
}
.hotelDetail-header-name-place img{ 
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
/* ------------------hotelDetail-header-images-------------------- */
.hotelDetail-header-images{
  margin: 0;
  width: 100%;
  height: 510px;
  display: grid;
  grid-gap: 12px;
  grid-template: 320px 180px/ 1fr 1fr 1fr 1fr;
}
.hotelDetail-header-image {
  box-shadow: 0 2px 9px rgba(0,0,0,.18);
  
}
.hotelDetail-header-image img{
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hotelDetail-header-images  .image-1{
  grid-row: 1/3;
  grid-column: 1/3;
  border-radius: 8px 0 0 8px;

}
.hotelDetail-header-images  .image-1 img{
  border-radius: 8px 0 0 8px;
}
.hotelDetail-header-images  .image-3{
  position: relative;
  border-radius: 0 8px 0 0;
}
.hotelDetail-header-images  .image-3>img{
  border-radius: 0 8px  0 0;
}
.hotelDetail-header-images  .image-3>div{
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 50px;
  background-color: rgba(255,255,255,.85);
  border-radius: 3px;
}
/* ---------- */
.hotelDetail-header-image-point {
  margin:  auto;
  display: flex;
  align-items: center;
  width: fit-content;
  height: 100%;
  line-height: 23px;
}

.hotelDetail-header-image-point .image-point{
  display: inline-block;
  
  width: fit-content;
  background-color: #ecf3f9;
  height: 28px;
  border-radius: 2px;
  line-height: 28px;
}
.image-point span:first-child{
  display: inline-block;
  margin-right: 10px;
  width: 32px;
  background-color: #428dc5;
  text-align: center;
  border-radius: 2px;
  color:#f2fbfe;
  font-weight: bold;  
  
}
.image-point span:last-child{
  color: #4290c8;
  margin-right:  12px;
}
.hotelDetail-header-image-point .number-vote{
  margin-left: 5px;
  font-size: 13px;
  color: #999;
}
/* ---------------- */
.hotelDetail-header-images  .image-4, 
.image-4 img{
  border-radius: 0 0 0 8px;
}
.hotelDetail-header-images  .image-7{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 0 0 8px 0;
  grid-gap: 12px;
}
.hotelDetail-header-images  .image-8{
  grid-column: 2/3;
  margin: 0;
 
  position: relative;
  border-radius: 0 0 8px 0;

}
.hotelDetail-header-images  .image-8>img{
  
  border-radius: 0 0 8px 0;

}
.hotelDetail-header-more-image{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,136,23,.65);
  border-radius: 0 0 8px 0;
  
}
.hotelDetail-header-more-image span{
  display: inline-block;
  text-align: center;
  width: 70%;
  color: #fff;
  font-size: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.hotelDetail-header-more-image:hover>span{
 text-decoration: underline;
}
/* ---------------modal image detail-------------- */
.hotelDetail-modal .ant-modal-content{
  width: 1300px;
}
.hotelDetail-modal .ant-modal-footer,
.hotelDetail-modal .ant-modal-header,
.hotelDetail-modal .ant-modal-close
{
    display: none !important;
}


.hotelDetail-modal .ant-modal-body{
    padding: 0;
}

.hotelDetail-modal .image-gallery-slides img{
  width: 1300px !important;
  height: 590px !important;
  object-fit: cover !important;
}
.hotelDetail-modal .image-gallery-thumbnails img{
  width: 92px !important;
  height: 64px !important;
  object-fit: cover !important;
}
.hotelDetail-modal .image-gallery-icon svg{
  width: 46px;
}
/* ------------------room---------------- */
.hotelDetail-body{
  margin-top: 60px;
}
/* ---------------------hotelDetail-body-top----------------- */
.hotelDetail-body-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.hotelDetail-body-sort button{
  margin-left:20px;
  height: 40px;
}
.hotelDetail-rooms-item{
  width: 100%;
  height: max-content;
  margin-bottom: 15px;
  box-shadow: 1px 2px 7px rgba(0,0,0,.17);

}
.rooms-item-top{
  display: flex;
  
  border-bottom: 1px solid #ccc;
  padding: 10px 20px;

}
.rooms-item-top >span img{
  width: 90px;
  height: 70px;
  object-fit: cover;
}
.rooms-item-top-right{

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.rooms-item-top-right>  div{
  margin-left: 15px;
}
.rooms-item-top-right button{
  width: 110px;
}
.rooms-item-top-service>span:last-child{
  margin-left: 20px;
}
.rooms-item-top-service>span span:last-child{
  margin-left: 3px;
}
/* -------Chọn ngày số lượng người-------- */

.hotelDetail-choose-day{
  display: flex;
  align-items: center;
  height: 40px;
}
.hotelDetail-choose-day h3{
  margin-right: 20px;
  height: 40px;
  line-height: 40px;
  font-weight: 550;
}

.hotelDetail-choose-day input{
  height: 30px;
  width: 150px;
}

/* -----------------rooms-item-more------------------ */

.hide-rooms-item-more{
  padding: 0 20px;
  display: flex;

  height: 0px ;
  overflow: hidden;
  transition: all 0.4s ease;

}
.rooms-item-more{
  display: flex;
  padding: 10px 20px;
  overflow: hidden;

  border-bottom: 1px solid #ccc;
  height: 225px;
  transition: all 0.5s ease;

}

.rooms-item-more-left div{
  width: 300px;
  height: 200px;

}

.rooms-item-more-left img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* button next prev trong slick */
.rooms-item-more-left .slick-next{
  right: 0;
}
.rooms-item-more-left .slick-prev{
  left: 0;
}
.rooms-item-more-left .slick-next::before,
.rooms-item-more-left .slick-prev::before
{
  font-size: 30px;
}
/*  */
.rooms-item-more-right{
  height: 200px;
  overflow-y: scroll;
}
.rooms-item-more-right div{
 min-height: 250px;
 padding:0  10px;

}
.rooms-item-more-right p{
  margin-bottom: 10px;
}
.rooms-item-more-right::-webkit-scrollbar {
  width: 7px;
  background-color: #F5F5F5;
}
.rooms-item-more-right::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.5);
}
.rooms-item-more-right::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.25);
  background-color: #F5F5F5;
}
/* ----------------rooms-item-bottom---------- */
.rooms-item-bottom{
  position: relative;
  z-index: 999;
  background-color: #fff;
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding:  20px;
  padding-left: 95px;
  height: fit-content;
}
.rooms-item-bottom-item {
  display: flex;

}
.rooms-item-bottom-item img{
  margin-right: 10px;
}
.rooms-item-bottom-item div {
  display: flex;
  flex-direction: column;

}
.rooms-item-bottom-item .service-true{
  color: #5a8a0d;
}

.rooms-item-bottom-item .service-false{
  color: #8d8a8a;
}
.rooms-item-bottom p{
  font-size: 26px;
  color: #ff8917;
  margin: 0;
}
.rooms-item-bottom button{
  color: #fff;
  background: #ff8917;
  height: 38px;
  width: 110px;
}
.rooms-item-bottom button:hover,
.rooms-item-bottom button:focus{
  color: #fff;
  background: #ff7b00 ;
  border-color: #ff8917 ;
}
/* -----------------------hotelDetail-inforHotel------------- */
.hotelDetail-inforHotel-title {
  display: flex;
  align-items: center;
  padding:  0 180px;
  margin: 30px 0;
}
.hotelDetail-inforHotel-title span{
  text-align: center;
  margin-left: 10px;
}
.hotelDetail-inforHotel-title{
  padding: 0 180px;
  display: flex;
  align-items: center;
}
/* --------------------hotel-detail-comment -----------*/
.hotelDetail-comment{
  margin: 30px 0;
}
.create-comment h2{
  margin-bottom: 20px;
}
.create-comment-point{
  display: flex;
  margin-bottom: 30px;
  height: 200px;
  
}
.point-highest,
.point-above-average,
.point-average,
.point-least
{
  position: relative;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* set vị trí của điểm trong progress */
.ant-progress-text{
  top: 35% !important;
  font-size: 38px !important;
  color: #428dc5 !important;

}
/* set màu cho vòng tròn điểm */
.point-highest .ant-progress-inner:not(.ant-progress-circle-gradient) .ant-progress-circle-path {
  stroke: #428dc5 !important;
}
.point-above-average .ant-progress-inner:not(.ant-progress-circle-gradient) .ant-progress-circle-path {
  stroke: #ff8917 !important;
}
.point-average .ant-progress-inner:not(.ant-progress-circle-gradient) .ant-progress-circle-path {
  stroke: #ffcd1a !important;
}
.point-least .ant-progress-inner:not(.ant-progress-circle-gradient) .ant-progress-circle-path {
  stroke: red !important;
}

/*  text đánh giá trong vòng tròn điểm*/
.point-highest >span:last-child,
.point-above-average >span:last-child,
.point-least >span:last-child{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 34px;
}

/* set màu chữ trùng với màu của vòng tròn */
.point-highest >span:last-child,
.point-highest  .ant-progress-text
{
  color: #428dc5 !important;

}
.point-above-average >span:last-child,
.point-above-average  .ant-progress-text
{
  color: #ff8917 !important;
}
.point-average >span:last-child,
.point-average  .ant-progress-text
{
  color: #ffcd1a !important;
}
.point-least >span:last-child,
.point-least  .ant-progress-text
{
  color: red !important;
}

/* style khi chữ là chập nhận được */
.point-average >span:last-child{
  position: absolute;
  top: 50%;
  width: 70%;
  text-align: center;
  font-size: 27px;
  color: #428dc5;
}

.create-comment-point-left{
  width: 75%;
  display: flex;
  align-items: center;
}
.create-comment-input{
  height: 150px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.create-comment-slider-point{
  width: 260px;
  height: 50px;
  margin: 0 20px;
}
.create-comment-slider-point >div{
  position: relative;
  display: flex;
  align-items: center;
}
/*------- set  cho thanh slider ----------*/
.create-comment-slider-point >div .ant-slider{
  width: 240px;
}
.ant-slider-track{
  background-color: #428dc5;
}
.create-comment-slider-point>span:first-child{
  margin-left: 6px;
}

.create-comment-slider-point .icon-wrapper{
  color: rgba(0,0,0,0.25) ;
  margin: 0 6px;
}
.create-comment-slider-point .icon-wrapper-active{
  color: #428dc5 ;
  margin: 0 6px;
}
/* -------- create-comment-review------- */
.create-comment-text{
  background-color: #f8f8f8;
  height: fit-content;
  padding: 20px;
}
.create-comment-text-form{
  width: 800px;
}
.form-item-first-child
{
  margin-left: 39px;
}
.comment-form-item{
  display: flex;
  align-items: center;
}
.comment-form-item div{
  width: 100%;
}
.create-comment-text-form  .ant-form-item-control-input-content{
  display: flex;

}
.create-comment-text-form  img{
  width: 15px;
  height: 15px;
  margin-bottom: 6px;
}
.create-comment-text-form .ant-form-item-control-input-content input
{
  margin-left: 25px ;
}
.create-comment-text-form .ant-form-item-control-input-content:last-child
{
  display: flex;
  justify-content: flex-end;
}
.create-comment-text-btn-submit,
.create-comment-text-btn-cancel{
  width: 90px;
  height: 35px;
  margin-left: 30px;
}

/* -----Hiển thi comment----- */
.get-comment{
  height: fit-content;
}
.get-comment-pagination{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.hotelDetail-comment-item{
  display: flex;
  padding: 25px 20px ;
  border: 1px solid #ccc;
}
.hotelDetail-comment-point{
  width: 250px;
}
 .comment-point{
  display: flex;
  font-size: 26px;
  
  border-radius: 2px;
}
.comment-point span:first-child{
  display: inline-block;
  margin-right: 15px;
  width: 60px;
  height: 41px;
  background-color: #428dc5;
  text-align: center;
  border-radius: 2px;
  color:#f2fbfe;
  font-weight: bold;  
  
}
.comment-point span:last-child{
  width: 140px;
  color: #4290c8;
  margin-right:  12px;
}
.comment-name-user {
  margin-top: 10px;
}
.comment-name-user span{
  font-size: 15px;
  font-weight: 600;
  color: #555;
}
/*  */
.hotelDetail-comment-status{
  max-width: 850px;
}
.hotelDetail-comment-status p{
  height: fit-content;
  overflow-wrap: anywhere;
}
.hotelDetail-comment-status p:first-child{
  font-weight: 600;
  font-size: 15px;
}

.hotelDetail-comment-status .review-good{
  color: #222;
  padding-left: 20px;
  background: url(https://statics.vntrip.vn/images/icons/icon-review-bad.png) 0 4px no-repeat;
  background-size: 12px 12px;
}
.hotelDetail-comment-status .review-bad{
  color: #222;
  padding-left: 20px;
  background: url(https://statics.vntrip.vn/images/icons/icon-review-good.png) 0 4px no-repeat;
  background-size: 12px 12px;
}

/* ----------------------------hotelDetail-nominations--------------- */
.hotelDetail-nominations{
    margin-bottom: 60px;
}
.hotelDetail-nominations>h2{
  margin-bottom: 20px;
}
.hotelDetail-nominations-container{
  display: flex;
  justify-content: space-between;
}
.hotelDetail-nominations-content{
  width: 340px;
  min-height: 480px;
  border-radius: 4px;
  box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.19);
}
.hotelDetail-nominations-wrapper img{
  width: 340px;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;

}
.hotelDetail-nominations-information{
  padding: 10px;
}

.hotelDetail-nominations-information>div{
  margin-bottom: 15px;
}
.hotelDetail-nominations-information-address img{
  width: 16px;
  height: 16px;
  margin:0 6px 6px 0;
}
.hotelDetail-nominations-information-address {
  
  overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  
}
.hotelDetail-nominations-information-price{
  text-align: end;
}
.hotelDetail-nominations-information-button{
  display: flex;
  justify-content: center;
}
.hotelDetail-nominations-information-button button{
  width: 200px;
  height: 40px;
  background-color: #ff9633;
  border: #ff9633;
  color: #fff;
}
.hotelDetail-nominations-information-button button:hover,
.hotelDetail-nominations-information-button button:focus,
.hotelDetail-nominations-information-button button:active
{
 
  background-color: #ff9633;
  border: #ff9633;
  color: #fff;
}