 .header {
  position: relative;
 
  height: 104px;
  color: black;
  font-size: 14px;
  line-height: 19px;
  font-weight: inherit;
  font-weight: 400;
  box-shadow: 0 2px 8px rgba(0,0,0,.04);
}

.header-container{
  width: 100%;
  

}
.pointer{
  cursor: pointer;
}


.header-container img, 
.header-container button, 
.header-container svg,
.header-container span{
  display: inline-block;

}
.header-container-top{
  padding: 0px 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 52px;
  background-color: #fff;
  border-bottom: 1px solid #f1f1f1 ;
}

.header-container-top-left{
  width: 240px;
  display: flex;
  align-items: center;
}
.header-container-top-left .icon-humburger{
  height: 24px;
  width: 24px; 
  margin-right: 20px;
  }
.logo-page img{
  width: 156px;
  height: 50px;
  object-fit: cover;
}

.header-container-top-right{
  display: flex;
  align-items: center;
  justify-content: flex-end;

}
.header-container-top-right span{
  margin-left: 8px;
  height: 24px;
  line-height: 24px;
}
.header-container-top-right div ,
.header-container-top-right button{
  display: flex;
  align-items: center;
  margin-left: 12px;
}
.header-container-top-right-icon{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container-top-right-icon .icon-love{
  height: 24px;
  width: 24px;
}
.header-container-top-right-icon img{
  width: 24px;
  height: 22px;
}
.header-container-top-right-nameUser{
  display: flex;
  align-items: center;  
    
}
.header-container-nav{
  padding: 0 140px;
  background-color: #fff;
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom:1px solid #f1f1f1;

}

.header-container-nav div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-left:1px solid #f1f1f1;
  border-right:1px solid #f1f1f1;


}
.header-container-nav p{
 height: 24px;
 line-height: 26px;
 margin: 0px 0px 0px 8px;
 font-size: 16px;


}
.header-container-nav img{
  height: 26px;
  width: 26px;
}


.tongle-sidebar-vertical{
  display: flex;

}

.hide-sidebar-vertical{
  position: absolute;
  top: 0;
  height: 100vh;
  left: -300px;
  width: 300px;
  z-index: 0;
  transition: all 0.4s ease ;

}
.sidebar-vertical-profile {
  margin: 20px 0px;
  text-align: center;

}
.sidebar-vertical-profile img{
  border-radius: 50%;
  height: 170px;
  width: 170px; 
  object-fit: cover;
}
.sidebar-vertical-item{
  display: flex;
  align-items: center;
  padding-left:30px ;
  height: 50px;
  line-height: 50px;
  
}
.sidebar-vertical-item img{
  height: 24px;
  width: 24px;
  margin-right: 8px;
}

.sidebar-vertical-item p{
  height: 24px;
  line-height: 26px;
  margin-left:  8px;
  font-size: 16px;
} 
.show-sidebar-vertical{
  position: fixed;
  left: 0;
  width: 300px;
  background-color: #fff;
  top: 0;
  z-index: 100;
  min-height: 100vh;
  transition: all 0.5s ease ;

  
}
.show-sidebar-vertical .sidebar-vertical-item:hover{
  background-color: #5392f9;
}

.hideWith-show-sidebar-vertical{
  display: none;
}
.showWith-show-sidebar-vertical{
  width: 100%;

  height: 100%;
  top: 0;
  right: 0;
  z-index: 3;
  display: block;
  position: fixed;
  background: rgba(0,0,0,.35);
}
.hideWith-login{
  width: 100vh;
  z-index: -2;
  display: none;
}
.showWith-login{
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  display: block;
  position: fixed;

} 